{% extends 'index.html' %}

{% block content %}
<!--------- Search block ---------->
	<div class="jumbo"> </div>
         <div id="content">
<h1>Search</h1>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....." />
            />
          </p>
        </form>

<input type="text" name="ingredients1" maxlength="40">

</td></tr>

<tr><td>and:</td><td>

<input type="text" name="ingredients2" maxlength="50"></td></tr>

<tr><td>and:</td><td>

<input type="text" name="ingredients3" maxlength="50">
</td></tr>


<tr> <td align="left">
</td></tr>

</table>
<input type="submit" name="submit" value="Submit" />
</form>

<title>Search Box Design</title>
  <link rel="stylesheet" href="styles.css">
  
</head>
<body>
  


<div class="wrapper">
  <input type="text" class="input" 
  placeholder="What are you looking for?">
  <div class="searchbtn"><i class="fas fa-search"></i></div>
</div>
</body>
</html>







</body>
</html>[code]
{% endblock %}