{% extends 'index.html' %}

{% block content %}
<!--------- Examples block ---------->
<link rel="stylesheet" type="text/css"
  href="{{ url_for('static', filename='style.css')}}" />
	<div id="Examples">
    <h2>Stay Connected to Meal Time and your Friends & Family!<h2>
  <form action="/action_page.php">
    <div class="row">
      <h2 style="text-align:left">Login with Social Media or Manually</h2>
      <div class="vl">
        <span class="vl-innertext">or</span>
      </div>

      <div class="col">
        <a href="#" class="fb btn">
          <i class="fa fa-facebook fa-fw"></i> Login with Facebook
        </a>
        <a href="#" class="twitter btn">
          <i class="fa fa-twitter fa-fw"></i> Login with Twitter
        </a>
        <a href="#" class="google btn">
          <i class="fa fa-google fa-fw"></i> Login with Google+
        </a>
      
      </div>

    </div>
  </form>
</div>



<form action="/action_page.php">
  <input type="file" id="myFile" name="filename">
  <input type="submit">
</form>

</body>
</html>
  	</div>
{% endblock %}